<% title "Faq Categories" %>

<p>
  <strong>Position:</strong>
  <%= @faq_categories.position %>
</p>

<p>
  <%= link_to "Edit", edit_faq_categories_path(@faq_categories) %> |
  <%= link_to "Destroy", @faq_categories, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", faq_categories_path %>
</p>
