@import "compass";

@mixin font_title {
  font-family: NanumGothic, "Nanum Gothic", "Times New Roman";
}

@mixin vertical_middle($height) {
  height: $height;
  display: table;

  * {
    display: table-cell;
    vertical-align: middle;
  }
}

$screen_width: 980px;

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.triangle {
  width: 0;
  height: 0;
  &.small {
    border-width: 4px;
  }
  &.down {
    border-color: #a1a1a1 transparent transparent transparent;
    border-style: solid;
  }
}

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

.user_info {
  &.small {
    font-size: 12px;
    img {
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }
  }

  &.horizontal {
    @extend .clearfix;
    .photo_container {
      float: left;
    }

    .name_container {
      float: left;
    }

    .name {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.height_support, .vertical_middle {
  display: inline-block;
  vertical-align: middle;
}

div.field_with_errors {
  div.message_anchor {
    position: relative;
    label.message {
      position: absolute;
      color: #d00;
      font-size: 11px;
      right: 5px;
      top: 4px;
    }
  }
}