.toggle_menu {
  .toggle_menu_anchor {
    position: relative;

    .toggle_menu_content {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      border: solid 1px grey;
    }
  }

  .menu_separator {
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #333;
  }
}