$brands-sprite-dimensions: true;
@import "brands/*.png";
@include all-brands-sprites;

body[data-controller=brands][data-action=new],
body[data-controller=brands][data-action=edit],
body[data-controller=brands][data-action=select_layout],
{
  background: rgb(228, 229, 230);
}

.guide {
  width: 980px;
  padding: 45px 0;
  margin: 0 auto;
  text-align: center;
  @include clearfix;

  .brands-make-shop-title {
    margin: 0 auto 45px auto;
  }

  ul.steps {
    display: inline-block;
    @include horizontal-list($padding: 0);
    height: 80px;
    padding: 0 100px;

    li.step {
      position: relative;
      .step_title {
        position: absolute;
        color: rgb(148, 148, 148);
        font-size: 13px;
        text-shadow: 1px 1px white;
        width: 160px;
        left: 50%;
        margin-left: -80px;
        top: 52px;
      }

      &.complete {
        .step_title {
          top: 63px;
          color: #9abd5d;
        }
      }
    }

    .step_bar {
      background: rgb(216, 216, 216);
      width: 110px;
      height: 5px;
      margin-top: 18px;

      &.complete {
        background: #b2d35c;
      }
    }
  }

  .section_line {
    width: 980px;
    height: 1px;
    background-color: #d8d8d8;
    border-bottom: 1px solid #f4f4f4;
    margin-top: 30px;
  }

  #step_slider {
    margin-top: 33px;
  }

  .step_content {
    margin-top: 16px;
    background: rgb(239, 239, 239);
    border-top: 1px solid rgb(215, 215, 216);
    border-left: 1px solid rgb(215, 215, 216);
    border-right: 1px solid rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
    @extend .clearfix;
    padding: 47px 69px;
  }

  form {
    input {
      border: 1px solid #dcdcdc;
    }

    .field {
      height: 83px;
      display: table;
      border-bottom: 1px solid #d7d7d7;
      @extend .clearfix;

      > * {
        display: table-cell;
        vertical-align: middle;
      }

      &.first {
        border-top: 1px solid #d7d7d7;
      }

      .field_title {
        color: #535353;
        width: 169px;
        text-align: right;
        padding-right: 12px;
        background: #f7f7f7;
        font-size: 18px;
      }

      .field_input {
        width: 416px;
        padding: 20px 16px;
        @extend .clearfix;
        text-align: left;

        input[type='text'] {
          padding: 10px;
          font-size: 18px;
          width: 394px;

          &#brand_uri {
            width: 278px;
          }
        }

        select {
          width: 414px;
        }
      }

      &.field_brand_uri {
        .field_with_errors {
          display: inline-block;
        }
      }

      .field_description {
        padding-left: 15px;
        color: #b9b9b9;
        font-size: 11px;
        width: 196px;
        text-align: left;
      }
    }

    .basic_url {
      font-size: 18px;
      margin-right: 4px;
      line-height: 42px;
    }
  }

  .button_area {
    text-align: right;
    margin-top: 12px;

    ul {
      display: inline-block;

      li {
        display: inline-block;
        margin-left: 20px;

        &.first {
          margin-left: 0;
        }
      }
    }
  }
}

body[data-controller=brands][data-action=select_layout]
{
  .step_content {
    position: relative;
    padding-left: 64px;
    padding-right: 64px;
  }

  .arrow {
    top: 246px;
    position: absolute;

    &.prev {
      left: 18px;
      @extend .brands-prev-arrow;
    }

    &.next {
      right: 18px;
      @extend .brands-next-arrow;
    }
  }

  .item_container {
    width: 859px;
    height: 519px;
  }

  ul.item_list {
    @extend .clearfix;
    width: 864px;

    li.layout_template {
      margin: 0 14px 15px 0;
      background: white;
      float: left;
      position: relative;

      .inner {
        position: relative;
        border: 1px solid #d7d7d7;
        overflow: hidden;
        width: 200px;
        height: 250px;
      }

      .selected_frame {
        display: none;
      }

      .check {
        display: none;
      }

      &:hover {
        .check {
          display: block;
          position: absolute;
          right: 6px;
          top: 6px;
          @extend .brands-layout-select-over;
        }
      }

      &.selected {
        .selected_frame {
          display: block;
          position: absolute;
          border: 3px solid #d2da62;
          width: 196px;
          height: 246px;
          top: -1px;
          left: -1px;
          z-index: 100;

          .ribbon {
            position: absolute;
            right: 0;
            top: 0;
            border-color: #d4db47 #d4db47 transparent transparent;
            border-style: solid;
            border-width: 20px;
            width: 0;
            height: 0;
          }

          .check {
            position: absolute;
            right: 3px;
            top: 5px;
            @extend .brands-layout-select-selected;
          }
        }
      }

      input {
        display: none;
        position: absolute;
      }

      .check_icon {
        display: none;
      }

      &:hover {
        div.check_icon {
          display: block;
        }
      }

      .preview_container {
        padding: 4px;
        img {
          max-width: 192px;
          max-height: 242px;
        }
      }

      .info_container {
        padding: 12px 0 0 10px;
        color: black;
        font-size: 12px;
        color: #adadad;
        position: absolute;
        top: 210px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: left;

        .name {
          font-size: 15px;
          font-weight: bold;
          color: black;
        }

        .show_sample {
          position: absolute;
          color: #6f9232;
          padding-top: 18px;
          padding-left: 4px;
        }

        .description {
          padding-top: 18px;
          color: #adadad;
        }

        .made_by {
          position: absolute;
          padding-top: 65px;
          bottom: 0;
          left: 18px;
        }
      }
    }
  }

  .bottom_area {
    margin-top: 11px;
    @extend .clearfix;

    .show_all {
      float: left;
      color: #939133;
    }

    .go_design_store {
      float: left;
      margin-left: 25px;
      color: #e74224;
    }

    .page_indicator {
      float: right;
      width: 52px;
      color: white;
      background: #d2da62;
      text-align: center;
      padding: 7px 0;
      font-size: 16px;
      border-radius: 3px;
      margin-right: 2px;

      .current_page {
        font-size: 20px;
      }
    }
  }
}