$brands-sprite-dimensions: true;
@import "brands/*.png";
@include all-brands-sprites;


.guide_container {
  position: relative;
  background: rgb(228, 229, 230);
  height: 1200px;

  .guide {
    min-width: 980px;
    left: 50%;
    position: absolute;
    margin-left: -490px;
    text-align: center;
    @include clearfix;

    .brands-make-shop-title {
      margin: 45px auto;
    }

    ul.steps {
      display: inline-block;
      @include horizontal-list($padding: 0);
      height: 80px;
      padding: 0 100px;

      li.step {
        position: relative;
        .step_title {
          position: absolute;
          color: rgb(148, 148, 148);
          font-size: 13px;
          text-shadow: 1px 1px white;
          width: 160px;
          left: 50%;
          margin-left: -80px;
          top: 52px;
        }

        &.complete {
          .step_title {
            top: 63px;
            color: #9abd5d;
          }
        }
      }

      .step_bar {
        background: rgb(216, 216, 216);
        width: 110px;
        height: 5px;
        margin-top: 18px;

        &.complete {
          background: #b2d35c;
        }
      }
    }

    .section_line {
      width: 980px;
      height: 1px;
      background-color: #d8d8d8;
      border-bottom: 1px solid #f4f4f4;
      margin-top: 30px;
    }

    .step_content {
      margin-top: 33px;
    }

    .step_content_container {
      margin-top: 16px;
      background: rgb(239, 239, 239);
      width: 980px;
      height: 350px;
      border-top: 1px solid rgb(215, 215, 216);
      border-left: 1px solid rgb(215, 215, 216);
      border-right: 1px solid rgb(245, 245, 245);
      border-bottom: 1px solid rgb(245, 245, 245);
    }

    .form_container {
      width: 840px;
      margin: 47px 0 0 69px;
      @extend .clearfix;

      input {
        border: 1px solid #dcdcdc;
      }

      .field {
        height: 83px;
        border-bottom: 1px solid #d7d7d7;
        @extend .clearfix;

        &.first {
          border-top: 1px solid #d7d7d7;
        }

        .field_title {
          color: #535353;
          width: 169px;
          float: left;
          text-align: right;
          padding-right: 12px;
          background: #f7f7f7;
          height: 50px;
          padding-top: 33px;
          font-size: 18px;
        }

        .field_input {
          float: left;
          width: 416px;
          padding: 20px 16px;
          @extend .clearfix;

          input[type='text'] {
            padding: 10px;
            font-size: 18px;
            width: 394px;

            &#brand_uri {
              width: 278px;
            }
          }

          div.styled_select {
            height: 41px;
          }
        }

        .field_with_errors {
          display: inline-block;
        }

        .field_description {
          padding-left: 15px;
          color: #b9b9b9;
          font-size: 11px;
          float: left;
          width: 196px;
          text-align: left;

          @include vertical_middle(83px);
        }
      }

      .basic_url {
        font-size: 18px;
        margin-right: 4px;
        line-height: 42px;
      }
    }

    .button_area {
      float: right;
      text-align: center;
      margin-top: 12px;
    }

    .cancel, .reset {
      color: #e32260;
      width: 72px;
      float: left;
    }

    .confirm {
      color: #6d926c;
      width: 124px;
      float: left;
      margin-left: 22px;
    }

    .create_button {
      padding-bottom: 25px;
    }

    #select_layout {
      height: 625px;
    }
  }

  .form_container#select_layout {
    margin: 0;
    display: inline-table;
    padding-top: 30px;
  }

  .item_container {
    height: 536px;
    width: 100%;
    @include clearfix;

    .arrow {
      padding-top: 246px;
    }

    .back_arrow {
      width: 62px;
      height: 100%;
      position: absolute;
    }

    .next_arrow {
      position: absolute;
      right: 18px;
    }

    #right_arrow {
      margin-left: 10px;
    }

    #left_arrow {
      margin-left: 5px;
    }

    .items {
      padding-left: 58px;
      padding-right: 58px;
    }

    .template_frame {
      width: 200px;
      height: 250px;
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 15px;
      background: white;
      float: left;
      border: 1px solid #d7d7d7;
      overflow: hidden;
      position: relative;

      .check_icon {
        display: none;
      }

      &:hover {
        div.check_icon {
          display: block;
        }
      }

      .preview_container {
        padding: 30px 10px 0 10px;
        width: 180px;
        height: 180px;
      }

      .info_container {
        padding: 12px 0 0 10px;
        color: black;
        font-size: 12px;
        color: #adadad;
        position: absolute;
        top: 210px;
        width: 180px;
        height: 212px;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: left;

        .name {
          font-size: 15px;
          font-weight: bold;
          color: black;
        }

        .show_sample {
          position: absolute;
          color: #6f9232;
          padding-top: 18px;
          padding-left: 4px;
        }

        .description {
          padding-top: 18px;
          color: #adadad;
        }

        .made_by {
          position: absolute;
          padding-top: 65px;
          bottom: 0;
          left: 18px;
        }
      }
    }

    .selected {
      border: 3px solid #d2da62;
      margin: 13px 5px -2px 5px;
    }

    .arrow-up {
      width: 0px;
      height: 0px;
      border-left: 40px solid transparent;
      border-right: 0px solid transparent;
      border-top: 40px solid #d2da62;
      float: right;
      z-index: 5;
      position: absolute;
      right: 0;
    }

    div.check_icon {
      position: relative;
      vertical-align: top;
      margin-left: 159px;
      z-index: 3;
    }

    div.check_icon::after, div.check_icon::before {
      background: #fed;
      border: 2px solid #d2da62;
      content: '';
      position: absolute;
    }

    div.icon {
      position: relative;
      vertical-align: top;
      float: right;
      z-index: 5;
      position: absolute;
      width: 40px;
      height: 40px;
      right: 0;
    }

    div.tick::before {
      left: 20px;
      top: 11px;
      width: 2px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    div.icon::after, div.icon::before {
      border: 2px solid white;
      content: '';
      position: absolute;
    }

    div.tick::after {
      height: 14px;
      left: 29px;
      top: 2px;
      width: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .disabled {
      display: none;
    }
  }

  .bottom_area {
    width: 980px;
    margin-top: 11px;
    height: 50px;
    @include clearfix;

    .show_all {
      height: 25px;
      float: left;
      width: 72px;
      text-align: center;
      margin-left: 65px;
      color: #939133;
      padding-top: 10px;
    }

    .go_design_store {
      height: 25px;
      float: left;
      width: 123px;
      text-align: center;
      margin-left: 25px;
      color: #e74224;
      padding-top: 10px;
    }

    .page_indicator {
      height: 27px;
      float: right;
      width: 52px;
      color: white;
      background: #d2da62;
      text-align: center;
      padding-top: 8px;
      font-size: 16px;
      margin-right: 65px;
      border-radius: 3px;
    }
  }
}