#home-index {
  height: 100%;

  div.background_container {
    height: 100%;

    div.solid {
      height: 100%;
      background-color: #f4f4f4;
    }

    div.split {
      display: none;
    }

    canvas {
      position: absolute;

      &.left {
        top: 0;
      }

      &.right {
        bottom: 0;
      }
    }
  }

  div.logo_container {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 180px;
    height: 126px;

    margin: -63px 0 0 -90px;

    text-align: center;
  }

  div.back_container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    display: none;
  }

  div.iframe_container {
    width: 960px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -480px;
    position: absolute;
    display: none;
  }

  iframe#login_with_nuvo {
    width: 100%;
    height: 500px;
    border: none;
  }

  ul.side_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 100%;
    background-color: white;

    li {
      text-align: center;
      margin-top: 20px;

      div.tooltip {
        top: 5px;
        right: 45px;

        .description {
          top: 5px;
          left: 50px;
          width: 110px;
          height: 46px;
          position: absolute;
          color: white;
          font-size: 13px;
        }
      }
    }
  }
}