@import "compass";
$icons-sprite-dimensions: true;
@import "home/icons/*.png";
@include all-icons-sprites;

#home-index {
  height: 100%;
  overflow: hidden;

  div.background_container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div.solid {
      height: 100%;
      background-color: #f4f4f4;
    }

    div.split {
      display: none;
    }

    canvas {
      position: absolute;

      &.left {
        top: 0;
      }

      &.right {
        bottom: 0;
      }
    }
  }

  div.logo_container {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 180px;
    height: 126px;

    margin: -63px 0 0 -90px;

    text-align: center;
  }

  div.back_container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    display: none;
  }

  iframe#login_with_nuvo {
    width: 100%;
    border: none;
  }

  .story_container {
    .story {
      padding-top: 100px;

      h1 {
        margin-bottom: 20px;
      }
    }
  }

  .toggle_menu {
    opacity: 0.4;
  }

  .sub_nav_back {
    display: inline-block;
    float: left;
    margin-right: 15px;
  }

  .sub_nav_forward {
    display: inline-block;
    float: left;
    margin-left: 37px;
  }

  .sub_nav {
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: 22px;
  }

  #home {
    position: relative;
    min-height: 700px;
    z-index: 0;
  }

  #intro {
    position: relative;
    background-color: #2c2c2c;
    min-height: 700px;
    overflow: hidden;

    .intro_bg {
      background: url(home/firstBG.png);
      background-position: 80% 7%;
      background-repeat: no-repeat;
      height: 100%;
      padding: 0;
      position: relative;
      width: 100%;
    }

    .title_forward {
      position: absolute;
      margin-top: 10%;
      margin-left: 9%;
      z-index: 15;
    }

    .title_backward {
      position: absolute;
      margin-top: 31%;
      margin-left: 3%;
      z-index: 15;
    }

    .first_title {
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 45%;
      left: 6%;
    }

    .first_description {
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 65%;
      left: 6%;
    }

    .second_title {
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 45%;
      left: 6%;
    }

    .second_description {
      font-family: NanumGothicExtrabold;
      font-size: 25px;
      position: absolute;
      max-width: 800px;
      top: 65%;
      left: 6%;
    }

    .third_title {
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 40%;
      left: 2%;
    }

    .third_description {
      font-family: NanumGothicExtrabold;
      font-size: 25px;
      position: absolute;
      max-width: 800px;
      top: 65%;
      left: 6%;
    }

    .horizontal_scroll_container {
      display: block;
      height: 50px;
      left: 40%;
      bottom: 7%;
      position: absolute;
      z-index: 100;
    }
  }

  #strength {
    background: url(home/whyshould_bg.png) 50% 0 no-repeat fixed;
    height: 100%;
    z-index: 20;

    .right_end_bg {
      position: absolute;
      right: 50%;
      width: 40px;
      border-top: 700px solid transparent;
      border-right: 260px solid #303838;
    }

    .left_end_bg {
      position: absolute;
      left: 49.95%;
      width: 40px;
      border-bottom-width: 700px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      border-left: 260px solid #303838;
    }

    .left_bg {
      background-color: #303838;
      position: absolute;
      left: -30%;
      width: 80%;
      height: 100%;
    }

    .right_bg {
      background-color: #303838;
      position: absolute;
      right: -30%;
      width: 80%;
      height: 100%;
    }

    .whyshould_description {
      margin-top: 7%;
      margin-left: 9%
    }

    .menu_container {
      display: block;
      height: 50px;
      left: 41%;
      top: 54%;
      position: absolute;
    }

    .horizontal_scroll_container {
      display: block;
      height: 50px;
      left: 36%;
      bottom: 13%;
      position: relative;
      z-index: 100;
    }

    .first_title, .second_title, .third_title, .fourth_title, .fifth_title, .sixth_title {
      color: white;
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 24%;
      left: 7%;
    }

    .first_description, .second_description, .third_description, .fourth_description, .fifth_description, .sixth_description {
      color: white;
      font-family: NanumGothicExtrabold;
      font-size: 25px;
      position: absolute;
      top: 40%;
      left: 8%;
      max-width: 800px;
    }
  }

  #business_model {
    background: url(home/business_model_bg2.png);
    background-position: 83% 50%;
    background-color: #f03882;
    background-repeat: no-repeat;
    height: 900px;

    .bg1 {
      background: url(home/business_model_bg1.png) 83% 50% no-repeat fixed;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 100%;
    }

    .bg2 {
      background: url(home/business_model_bg2.png) 83% 50% no-repeat fixed;
      height: 900px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 100%;
    }

    .title {
      position: absolute;
      margin-top: 2%;
      margin-left: -5%;
      z-index: 100;
    }

    .first_title {
      color: white;
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 40%;
      left: 7%;
    }

    .first_description {
      color: white;
      font-family: NanumGothicExtrabold;
      font-size: 25px;
      position: absolute;
      top: 55%;
      left: 8%;
      max-width: 800px;
    }

    .horizontal_scroll_container {
      display: block;
      height: 50px;
      left: 37.1%;
      top: 78.3%;
      position: absolute;
    }
  }

  #donation {
    background: url(home/donation_bg2.png);
    background-position: 78% 90%;
    background-color: #38362c;
    background-repeat: no-repeat;
    height: 900px;

    .bg1 {
      background: url(home/donation_bg1.png) 50% 77% no-repeat fixed;
      height: 800px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 100%;
    }

    .bg2 {
      background: url(home/donation_bg2.png) 50% 50% no-repeat fixed;
      height: 800px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 100%;
    }

    .title {
      position: absolute;
      margin-top: 2%;
      left: 20%;
    }

    .first_title {
      color: white;
      font-family: NanumGothicExtrabold;
      font-size: 43px;
      position: absolute;
      top: 45%;
      left: 10%;
    }

    .first_description {
      color: white;
      font-family: NanumGothicExtrabold;
      font-size: 25px;
      position: absolute;
      top: 60%;
      left: 8%;
      max-width: 1000px;
    }

    .horizontal_scroll_container {
      display: block;
      height: 50px;
      left: 37.1%;
      top: 98%;
      position: absolute;
    }
  }

  ul#nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 64px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 200;

    li {
      text-align: center;
      margin-top: 20px;

      div.tooltip {
        top: 5px;
        right: 45px;

        .description {
          top: 5px;
          left: 50px;
          width: 110px;
          height: 46px;
          position: absolute;
          color: white;
          font-size: 13px;
        }
      }
    }
  }

  #intro_sequence {
    height: 100%;
    max-width: 1400px;
    width: 100%;
  }

  .intro_first, .intro_second, .intro_third {
    color: white;
    height: 700px;
    width: 100%;
  }

  .intro_first {
    left: -900px;
    top: 100px;
    @include sequence_animate(1s);
  }

  .animate-out .intro_first {
    left: 1050px;
    @include sequence_animate(1s);
  }

  .intro_bg {
    top: 1000px;
    left: 2000px;
    @include sequence_animate(1.5s);
  }

  .intro_first, .intro_second, .intro_third {
    left: 2000px;
    top: 0;
    @include sequence_animate(1s);
  }

  .intro_second {
    top: 0;
  }

  .intro_third {
    top: 0;
  }

  .animate-in .intro_first, .animate-in .intro_second, .animate-in .intro_third {
    left: 0;
    top: 0;
    @include sequence_animate(2s);
  }

  .animate-out .intro_first, .animate-out .intro_second, .animate-out .intro_third {
    top: 0;
    left: -2000px;
    @include sequence_animate(1.5s);
  }

  .animate-in .intro_bg {
    top: 10px;
    left: 100px;
    @include sequence_animate(1.5s);
  }

  .animate-out .intro_bg {
    top: 1200px;
    left: 500px;
    @include sequence_animate(2s);
  }

  #strength_sequence {
    height: 100%;
    width: 100%;
  }

  .strength_first, .strength_second, .strength_third, .strength_fourth, .strength_fifth, .strength_sixth {
    color: white;
    height: 100%;
    width: 100%;
  }

  .strength_first {
    left: 900px;
    top: 0;
    @include sequence_animate(1s);
  }

  .animate-out .strength_first {
    left: -2000px;
    @include sequence_animate(1s);
  }

  .strength_first, .strength_second, .strength_third, .strength_fourth, .strength_fifth, .strength_sixth {
    left: 2000px;
    top: 0;
    @include sequence_animate(1s);
  }

  .strength_second {
    top: 0;
  }

  .strength_third {
    top: 0;
  }

  .animate-in .strength_first, .animate-in .strength_second, .animate-in .strength_third, .animate-in .strength_fourth, .animate-in .strength_fifth, .animate-in .strength_sixth {
    left: 0;
    top: 0;
    @include sequence_animate(2s);
  }

  .animate-out .strength_first, .animate-out .strength_second, .animate-out .strength_third, .animate-out .strength_fourth, .animate-out .strength_fifth, .animate-out .strength_sixth {
    top: 0;
    left: -2000px;
    @include sequence_animate(1.5s);
  }
}

.icons-sub-nav-forward-button, .icons-sub-nav-button, .icons-sub-nav-back-button {
  opacity: 0.4;
  display: block;
}

.icons-sub-nav-forward-button:hover, .icons-sub-nav-button:hover, .icons-sub-nav-back-button:hover {
  opacity: 1;
}

a.current_page {
  opacity: 1;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.parallax {
  position: relative;
  overflow: hidden;
}

iframe#logout_from_nuvo {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
}