#home-index {
  canvas {
    position: absolute;
  }

  .logo_container {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 200px;
    height: 150px;

    margin: -75px 0 0 -100px;

    text-align: center;
  }

  div.back_container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    opacity: 0;
  }
}