div#translations-index {
  tr {
    div.editing {
      display: none;
    }

    &.editing {
      div.editing {
        display: block;
      }

      div.static {
        display: none;
      }
    }
  }
}