<% title(t("home.guide.title")) %>
<%= stylesheet_link_tag "views/home/guide" %>
<div id="home-guide">
  <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :remote => true %>
  <div>1. 기본 정보를 입력합니다.</div>
  <div>2. 기본 레이아웃을 선택합니다.</div>
  <div>3. 세부 디자인을 합니다.</div>
  <div>4. 상품 등록 & 판매 시작!</div>
</div>