<html>
  <body>
    <div class="callback_container" style="position: absolute; top: 50%; left: 50%; margin: -75px 0 0 -165px; text-align: center;">
      <div class="title">Success!!!</div>
      <div class="code"><%= "Code = #{params[:code]}" %></div>
    </div>
  </body>
</html>