@import "compass";

@mixin vertical_middle($height) {
  height: $height;
  display: table;

  * {
    display: table-cell;
    vertical-align: middle;
  }
}

$screen_width: 980px;

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.triangle {
  width: 0;
  height: 0;
  &.small {
    border-width: 4px;
  }
  &.down {
    border-color: #a1a1a1 transparent transparent transparent;
    border-style: solid;
  }
}

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

.user_info {
  &.small {
    font-size: 12px;
    img {
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }
  }

  &.horizontal {
    @extend .clearfix;
    .photo_container {
      float: left;
    }

    .name_container {
      float: left;
    }

    .name {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.height_support, .vertical_middle {
  display: inline-block;
  vertical-align: middle;
}

.field_with_errors {
  .message_anchor {
    position: relative;
  }

  .message {
    position: absolute;
    color: #d00;
    font-size: 11px;
    right: 5px;
    top: 4px;
  }
}

.fog {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 45px; // Don't hide Topbar
  z-index: 1000;
  &.left {
    left: -490px;
    @include background-image(linear-gradient(right, rgba(228,229,230,0) 0, rgba(228,229,230,1) 200px));
  }

  &.right {
    right: -490px;
    @include background-image(linear-gradient(left, rgba(228,229,230,0) 0, rgba(228,229,230,1) 200px));
  }
}