@import "base/*";

html, body {
  height: 100%;
  font-family: Play, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

#top_container {
  min-width: 960px;
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

.tooltip_container {
  position: relative;
  .tooltip {
    display: none;
  }

  &:hover {
    div.tooltip {
      display: block;
      position: absolute;
    }
  }
}