<div class="brands _menu">
  <div class="brands-make-shop-step-4-title"></div>
  <%= content_tag :div, :class => "step_content" do %>
    Menu
  <% end %>
  <div class="button_area">
    <ul>
      <li class="first">
        <%= link_to t("back"), customize_tutorial_brand_path(@brand, :prev => true), :remote => true, :class => "button cancel" %>
      </li>
    </ul>
  </div>
</div>