<div class="section_title"><%= image_tag "home/make-shop-step-01-title-image.png" %></div>
<div class="step_content_container" id="select_layout">
  <div class="form_container">
    
  </div>
</div>
<div class="button_area">
  <a class="button cancel" id="cancel_button"><%= t("home.guide.cancel") %></a>
  <a class="button confirm" id="create_shop_button"><%= t("home.guide.create_shop") %></a>
</div>