.brands._customize_tutorial {
  .step_content {
    position: relative;
    padding-left: 64px;
    padding-right: 64px;
  }

  .arrow {
    top: 246px;
    position: absolute;

    &.prev {
      left: 18px;
      @extend .brands-prev-arrow;
    }

    &.next {
      right: 18px;
      @extend .brands-next-arrow;
    }
  }

  .tutorial_container {
    width: 850px;
    height: 478px;
    overflow: hidden;

    .tutorial_1, .tutorial_2, .tutorial_3 {
      color: black;
      height: 100%;
      width: 100%;
    }

    .tutorial_1 {
      left: -900px;
      top: 100px;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      -ms-transition-duration: 1s;
      transition-duration: 1s;
    }

    .animate-out .tutorial_1 {
      left: 1050px;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      -ms-transition-duration: 1s;
      transition-duration: 1s;
    }

    .tutorial_1, .tutorial_2, .tutorial_3 {
      left: 1000px;
      top: 0;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      -ms-transition-duration: 1s;
      transition-duration: 1s;
    }

    .tutorial_2 {
      top: 0;
    }

    .tutorial_3 {
      top: 0;
    }

    .animate-in .tutorial_1, .animate-in .tutorial_2, .animate-in .tutorial_3 {
      left: 0;
      top: 0;
      -webkit-transition-duration: 2s;
      -moz-transition-duration: 2s;
      -o-transition-duration: 2s;
      -ms-transition-duration: 2s;
      transition-duration: 2s;
    }

    .animate-out .tutorial_1, .animate-out .tutorial_2, .animate-out .tutorial_3 {
      top: 0;
      left: -1000px;
      -webkit-transition-duration: 1.5s;
      -moz-transition-duration: 1.5s;
      -o-transition-duration: 1.5s;
      -ms-transition-duration: 1.5s;
      transition-duration: 1.5s;
    }
  }

  .pager_container {
    position: absolute;
    width: 850px;
    height: 30px;
    bottom: 7px;
  }

  .bottom_area {
    margin-top: 11px;
    @extend .clearfix;
  }
}