.body_slide.brands.customize {
  background-color: white;

  table#main_table {
    width: 100%;
    height: 100%;
    td {
      vertical-align: top;
    }
  }

  #leftContainer {
    height: 100%;
    width: 320px;
    background-image: url(brands/customize/design-edit-menu-background-image.png);
    border-right: 1px solid #151515;
  }

  #leftTop {
    width: 100%;
    height: 45px;
    background-color: rgba(0,0,0,.1);
  }

  #leftTopContainer {
    margin-top: 8px;
  }

  .bwEmbossLine {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.4);
    @include box-shadow(rgba(255,255,255,.08) 0 1px 0);
  }

  #leftTopButtonContainer {
    padding: 8px 20px 0 20px;
    @extend .clearfix;
  }

  #leftEditElement {
    margin: 10px 20px 0 20px;
  }

  .blackAlphaButton {
    border-radius: 5px;
    @include box-shadow(rgba(0,0,0,0.7) 1px 1px 3px);
    border-top: rgba(200,200,200,0.1) solid 1px;
    border-left: rgba(200,200,200,0.1) solid 1px;
  }

  .float_left {
    float: left;

    &:after {
      clear: both;
    }
  }

  .float_right {
    float: right;

    &:after {
      clear: both;
    }
  }

  .dark_button {
    color: #666;
    background-color: rgba(0,0,0,.2);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2) inset);
    text-shadow: black 0 -1px 0;
  }

  .dark_button:hover {
    background-color: rgba(0,0,0,.4);

    &:active{
      background-color: rgba(0,0,0,.5);
    }
  }

  .light_dark_button {
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,0.07);
    @include box-shadow(0 1px 0 rgba(255, 255, 255,0));
    border: rgba(0,0,0,0);
    text-shadow: rgba(255,255,255,.1) 0 1px 0;

    &:hover {
      background-color: rgba(255,255,255,.15);
    }

    &:active {
      background-color: rgba(255,255,255,.03);
    }
  }

  .green_button {
    color: #3f5610;
    background-color: #708b2f;
    background: -webkit-gradient(linear,left top,left bottom,from(#90ae57),to(#708b2f));
    background: -moz-linear-gradient(top,#90ae57,#708b2f);

    &:hover {
      color: #30420c;
      background-color: #566c20;
      background: -webkit-gradient(linear,left top,left bottom,from(#728e3e),to(#566c20));
      background: -moz-linear-gradient(top, #728e3e, #566c20);
    }

    &:active {
      color: #30420c;
      background-color: #566c20;
      background: -webkit-gradient(linear,left top,left bottom,from(#566c20),to(#728e3e));
      background: -moz-linear-gradient(top,#566c20,#728e3e);
    }
  }

  button:active {
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1),1px 1px 2px rgba(0, 0, 0, 0.4) inset);
  }

  button, .button {
    height: 30px;
    background-color: transparent;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 5px 9px 6px;
    vertical-align: baseline;
    @include border-radius(4px);
    border: 1px solid rgba(0, 0, 0, .75);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.4) inset);
    text-shadow: rgba(255,255,255,.3) 0 1px 0;
  }

  .lineContainer {
    width: 100%;
    padding: 10px 0;
  }

  .radioBox {
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin: 2px 5px 3px 5px;
    background-color: #423e3d;
    border: 1px solid #2f2d2c;
    border-radius: 8px;
    @include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.08),1px 1px 3px rgba(0,0,0, 0.5) inset);
    display: inline-block;
  }

  .radioBoxSelected {
    position:relative;
    top: 4px;
    left: 4px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #bbb;
    @include box-shadow(0 -1px 0 rgba(0,0,0, 0.5));
  }

  .checkBox {
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin: 2px 5px 3px 5px;
    background-color: #423e3d; border:1px  solid #2f2d2c;
    border-radius: 3px;
    @include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.08),1px 1px 3px rgba(0,0,0, 0.5) inset);
    display: inline-block;
  }

  .checkBoxSelected {
    position: relative;
    width: 15px;
    height: 16px;
    top: -4px;
    left: 2px;
    background-image: url(brands/customize/check-box-selected.png);
  }

  .grayButton {
    border: 0;
    padding: 5px 15px 6px;
    color: #ccc;
    background-color: #4c4847;
    background: -webkit-gradient(linear,left top,left bottom,from(#4e4a49),to(#4c4847));
    background: -moz-linear-gradient(top,#4e4a49,#4c4847);
    @include box-shadow(1px 1px 4px rgba(0,0,0,.5),1px 1px 0 rgba(255, 255, 255, 0.13) inset);
    text-shadow: black 0 -1px 0;

    &:hover {
      background-color:#403d3b;
      background: -webkit-gradient(linear,left top,left bottom,from(#44403f),to(#403d3b));
      background: -moz-linear-gradient(top,#44403f,#403d3b);
    }

    &:active {
      border: 1px solid #333;
      border: 1px solid rgba(0, 0, 0, .3);
      padding: 5px 14px 6px;
      background-color:#433f3e;
      background: -webkit-gradient(linear,left top,left bottom,from(#44403f),to(#403d3b));
      background: -moz-linear-gradient(top,#44403f,#403d3b);
    }
  }

  .CircleButton {
    border-radius: 15px;
  }

  .cicle {
    border-radius: 15px;
    width: 30px;
  }

  .square {
    width: 30px;
  }

  .inputbox {
    color: #999;
    height: 27px;
    padding-left: 8px;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    vertical-align: baseline;
    background-color:#d7d7d7; border: 1px solid #000;
    border-radius: 4px;
    @include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.18),0px 0px 5px rgba(0,0,0, 0.7) inset);
    display: inline-block;

    &:focus {
      outline: none;
      background-color: #fff;
      color: #444;
      border: 1px solid #777;
      @include box-shadow(0px 0px 8px rgba(255, 255, 255, 0.6));
    }
  }

  .colorButton {
    border:0;
    padding: 5px 15px 6px;
    color:#ccc;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
    @include box-shadow(1px 1px 4px rgba(0,0,0,.5),1px 1px 0 rgba(255, 255, 255, 0.13) inset);
    text-shadow:black 0 -1px 0;
  }

  .colorButton:hover {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.03)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08ffffff', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
  }

  .colorButton:active {
    border: 1px solid #333;
    border: 1px solid rgba(0, 0, 0, .8);
    padding: 5px 14px 6px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.03)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.03) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08ffffff', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
  }

  .colorButtonColor {
    background-color: #708b2f;

    &:hover {
      background-color: #708b2f;
    }
  }

  .colorButtonColorChange {
    background-color: #b3494a;

    &:hover {
      background-color: #b3494a;
    }
  }

  .grayGradientContainer {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 100;
  }

  .gray {
    width: 200px;
    height: 100%;
    display: inline-block;
    background-color: #e4e5e6;
  }

  .grayGradient {
    width: 200px;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(left,  rgba(228,229,230,0) 0%, rgba(228,229,230,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(228,229,230,0)), color-stop(100%,rgba(228,229,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(228,229,230,0) 0%,rgba(228,229,230,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(228,229,230,0) 0%,rgba(228,229,230,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(228,229,230,0) 0%,rgba(228,229,230,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(228,229,230,0) 0%,rgba(228,229,230,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4e5e6', endColorstr='#e4e5e6',GradientType=1 ); /* IE6-9 */
  }

  iframe#preview {
    border: none;
    width: 100%;
    height: 100%;
  }
}