.brands._select_layout {
  .step_content {
    position: relative;
    padding-left: 64px;
    padding-right: 64px;
  }

  .arrow {
    top: 246px;
    position: absolute;

    &.prev {
      left: 18px;
      @extend .brands-prev-arrow;
    }

    &.next {
      right: 18px;
      @extend .brands-next-arrow;
    }
  }

  #layout_templates {
    width: 852px;
    height: 521px;
    padding: 1px; // For selected_frame
    overflow: hidden;
  }

  $layout_template_width: 200px;
  $layout_template_height: 250px;

  ul.item_list {
    @extend .clearfix;
    width: 864px;

    li.layout_template {
      margin: 0 14px 15px 0;
      background: white;
      float: left;
      position: relative;

      .inner {
        position: relative;
        border: 1px solid #d7d7d7;
        overflow: hidden;
        width: $layout_template_width;
        height: $layout_template_height;

        .check {
          display: none;
        }

        &:hover {
          .check {
            display: block;
            position: absolute;
            right: 6px;
            top: 6px;
            @extend .brands-layout-select-over;
          }
        }
      }

      .selected_frame {
        display: none;
      }

      &.selected {
        .selected_frame {
          display: block;
          position: absolute;
          border: 3px solid #d2da62;
          width: 196px;
          height: 246px;
          top: -1px;
          left: -1px;
          z-index: 100;

          .ribbon {
            position: absolute;
            right: 0;
            top: 0;
            border-color: #d4db47 #d4db47 transparent transparent;
            border-style: solid;
            border-width: 20px;
            width: 0;
            height: 0;
          }

          .check {
            position: absolute;
            right: 3px;
            top: 5px;
            @extend .brands-layout-select-selected;
          }
        }
      }

      input {
        display: none;
        position: absolute;
      }

      .check_icon {
        display: none;
      }

      &:hover {
        div.check_icon {
          display: block;
        }
      }

      .preview_container {
        padding: 4px;
        img {
          max-width: 192px;
          max-height: 242px;
        }
      }

      .info_container {
        $info_container_padding_h: 10px;
        $info_container_padding_v: 12px;
        padding: $info_container_padding_v $info_container_padding_h;
        color: black;
        font-size: 12px;
        color: #adadad;
        position: absolute;
        top: 210px;
        width: $layout_template_width - $info_container_padding_v * 2;
        height: $layout_template_height - $info_container_padding_h * 2;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: left;

        .name {
          font-size: 15px;
          font-weight: bold;
          color: black;
        }

        .show_sample {
          a {
            color: #6f9232;
          }
          margin-top: 18px;
        }

        .description {
          padding-top: 18px;
          color: #adadad;
        }

        .made_by {
          position: absolute;
          bottom: 14px;
          left: 18px;
        }
      }
    }
  }

  .bottom_area {
    margin-top: 11px;
    @extend .clearfix;

    .show_all {
      float: left;
      color: #939133;
    }

    .go_design_store {
      float: left;
      margin-left: 25px;
      color: #e74224;
    }

    .page_indicator {
      float: right;
      width: 52px;
      color: white;
      background: #d2da62;
      text-align: center;
      padding: 7px 0;
      font-size: 16px;
      border-radius: 3px;
      margin-right: 2px;

      .current_page {
        font-size: 20px;
      }
    }
  }
}